<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Registro</servlet-name>
        <servlet-class>Controlador.Registro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Reg2</servlet-name>
        <servlet-class>Controlador.Reg2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IniciaSes</servlet-name>
        <servlet-class>Controlador.IniciaSes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Modifica</servlet-name>
        <servlet-class>Controlador.Modifica</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PDF</servlet-name>
        <servlet-class>Controlador.PDF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Citas</servlet-name>
        <servlet-class>Controlador.Citas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Bitacora1</servlet-name>
        <servlet-class>Controlador.Bitacora1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Menu</servlet-name>
        <servlet-class>Controlador.Menu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IniciaSes1</servlet-name>
        <servlet-class>Controlador.IniciaSes1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>documento</servlet-name>
        <servlet-class>Controlador.documento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PDF2</servlet-name>
        <servlet-class>Controlador.PDF2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>receta</servlet-name>
        <servlet-class>Controlador.receta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChatL</servlet-name>
        <servlet-class>Controlador.ChatL</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Registro</servlet-name>
        <url-pattern>/Registro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Reg2</servlet-name>
        <url-pattern>/Reg2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IniciaSes</servlet-name>
        <url-pattern>/IniciaSes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Modifica</servlet-name>
        <url-pattern>/Modifica</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PDF</servlet-name>
        <url-pattern>/PDF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Citas</servlet-name>
        <url-pattern>/Citas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Bitacora1</servlet-name>
        <url-pattern>/Bitacora1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Menu</servlet-name>
        <url-pattern>/Menu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IniciaSes1</servlet-name>
        <url-pattern>/IniciaSes1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>documento</servlet-name>
        <url-pattern>/documento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PDF2</servlet-name>
        <url-pattern>/PDF2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>receta</servlet-name>
        <url-pattern>/receta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChatL</servlet-name>
        <url-pattern>/ChatL</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
